<!DOCTYPE html>
<html lang="ja" ng-app="myapp">
<head>
	<meta charset="utf-8" />
	<title></title>
	<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script src="https://maps.google.com/maps/api/js?key=AIzaSyA6YZIpSgO5U_n9FAiqMnFL5rnTSwK7omQ" async defer></script>
	<script src="./js/myscript.js"></script>
	<script src="./js/map.js"></script>
	<script>
	jQuery(function ($) {
		"use strict";
		$(".js--apply").on("click", function (eve) {
			$.get({
					url: "https://api.gnavi.co.jp/RestSearchAPI/20150630/",
					dataType: "jsonp",
					jsonp: "callback",
					timeput: 3000
				},
				{
					keyid: $(".js--key").val(),
					format: "json",
					latitude: 35.670083,
					longitude: 139.763267,
					range: 1
				})
			.then(
				function (res) {
					if (res.error) throw new Error(res.error.code + ":" + res.error.message);
					if (!res.total_hit_count) return $.Deffered().reject("検索結果が見つかりませんでした。");
					return res;
				},
				function (jqXHR) {
					throw new Error(jqXHR.status + ":" + jqXHR.statusText);
				})
			.then(function (res) {
				document.body.innerHTML += "<p>" + res.total_hit_count + "件の結果が見つかりました。</p>";
				//alert(res.total_hit_count + "件の結果が見つかりました。");
				alert($(res.rest)
					.map(function () {
						return [this.id, this.name, this.access.line, this.access.station, this.access.walk].join(" ") + "分";
					})
					.toArray()
					.join("\n"));
			})
			.catch(function(err){
				alert((err && err.stack) || err);
			});
		});
	});
	</script>

	<link rel="stylesheet" href="./css/test.css">
	<style>
		.even {
			background: #ccc;
		}
		.odd {
			background: #ddd;
		}
	</style>
</head>
<body>
	<!--
	<h1>AngularJSの練習</h1>
	<input type="text" ng-model="name">
	<p>こんにちは！{{name}}</p>
	<p>こんにちは！{{ 5*3 }}</p>
	<div ng-controller="MainController">
		<form novalidate name="myForm" ng-submit="addUser()">
			<p>Name:
				<input type="text" name="name" ng-model="user.name" required ng-minlength="5" ng-maxlength="8">
				<span ng-show="myForm.name.$error.required">Required!</span>
				<span ng-show="myForm.name.$error.minlength">Too short!</span>
				<span ng-show="myForm.name.$error.maxlength">Too long!</span>
			</p>
			<p>Score:
				<input type="number" name="score" ng-model="user.score">
			</p>
			<p>Email:
				<input type="email" name="email" ng-model="user.email">
				<span ng-show="myForm.email.$error.email">Not valid email</span>
			</p>
				<p>Web:
				<input type="url" name="url" ng-model="user.url">
				<span ng-show="myForm.url.$error.url">Not valid web</span>
			</p>
			<p><input type="submit" value="add"></p>
		</form>
		<pre>{{user|json}}</pre>
		<p><input type="text" ng-model="query.name"></p>
		<p>{{users.length}} users.</p>
		<p>{{25*500|number}}</p>
		<p>{{25*500|currency:"￥"}}</p>
		<p>{{today|date:'yyyy-MM-dd'}}</p>
		<ul>
			<li ng-repeat="user in users" ng-class-even="'even'" ng-class-odd="'odd'">
				{{$index+1}} {{$first}} {{$middle}} {{$last}} {{user.name}} {{user.score}}
			</li>
			<li ng-repeat="user in users" ng-controller="userItemController">
				{{user.name}} {{user.score}}
				<button ng-click="increment()">+1</button>
			</li>
		</ul>
	</div>
	-->
	<!--
	<h2>Google Mapで検索する</h2>
	<div id="map"></div>

	<h2>ぐるなび</h2>-->
	<input type="text" placeholder="enter your access key here" class="js--key"><input type="button" value="apply" class="js--apply" />

	<div id="result"></div>
</body>
</html>